# Dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment & secrets
.env
.env.local
.env.test

# Coverage
coverage/

# Build artifacts
dist/
build/

# Cache
.eslintcache
.cache/

# OS / Editor
.DS_Store
Thumbs.db
.idea/
*.iml
.vscode/*
!.vscode/extensions.json

# Debug dumps
*.dmp
*.stackdump
